 body {
    display:grid;
    grid-template-rows: 2fr 5fr 1fr;
    justify-content: center;
    align-content: center;

    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', Arial, sans-serif;
    background-image: url("table.png");
    background-repeat:repeat;
    background-size: cover;
    font-weight: 700;

    color: white;
    text-align: center;

    margin: 15px 15px 0 15px;
    font-size: 2.5vw;
}
.title
{
    display:grid;
    grid-template-rows: auto;
    grid-template-columns: auto;
    align-content: center;
    gap: 15px;
    justify-content: center;
    align-items: center;
}
.title .txt
{
    grid-area: 1 / 1 / span 1 / span 3;
    font-size: 0.8em;
}
.jackblack
{
    display: grid;
    border:3px solid rgb(253, 74, 4);
    border-radius: 10%;
    grid-area: 2 / 2 / span 1 / span 1;
    align-items: center;
    block-size: 30vw;
    justify-content: center;
}
.gamearea
{
    display:grid;
    grid-template-rows: auto;
    grid-template-columns: auto;
    align-content:space-around;
    gap: 15px;
    justify-content: space-around;
    align-items: center;
    justify-items: center;

    margin: 3% 30% 3% 30%;
}
#draw
{
    align-self: center;
    grid-area: 7 / 1 / span 3 / span 1;
    font-weight: 700;
    font-size: 1.8em;
    align-self: center;
}
#hold
{
    align-content: center;
    grid-area: 7 / 3 / span 3 / span 1;
    font-weight: 700;
    font-size: 1.8em;
    align-self: center;
}
#start
{
    align-self: center;

    grid-area: 7 / 2 / span 3 / span 1;
    font-weight: 700;
    font-size: 1.6em;
}

#yoursum
{
    color: goldenrod;
    font-size: 4em;
    grid-area: 5 / 1 / span 1 / span 3;
}
#playerSum
{
    color: goldenrod;
    font-size: 3em;
    grid-area: 6 / 1 / span 1 / span 3;
}
#yourcards{
    color: goldenrod;
    font-size: 4.5em;
    grid-area: 1 / 1 / span 2 / span 3;
}
#playerHand {
    color: goldenrod;
    font-size: 3.5em;
    grid-area: 3 / 1 / span 2 / span 3;
}

#win {
    font-style: italic;
    color: goldenrod;
    font-size: 2.5em;
    grid-area: 11 / 1 / span 1 / span 3;
    width: 100%;
    height: 100%;
}
button {

    color: #016f32;
    background: goldenrod;
    padding-top: 5px;
    padding-bottom: 5px;
    font-weight: bold;
    border: none;
    border-radius: 2px;
    margin-bottom: 2px;
    margin-top: 2px;
    width: 25vw;
    height: 6vh;
    transition: background 0.5s ease;
    text-align: center;
    white-space:nowrap;
    text-overflow:clip;
    overflow:hidden;
}
button:hover
{
    color: #00ac4d;
    background: rgb(255, 183, 0);
}

.title
{
    font-weight: 700;
    font-size: 10em;
    color: rgb(253, 74, 4);
}
.back
{
    font-size: 1.6em;
    justify-content: center;
}
